<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  </head>

  <body>
    <div class = "container">
      <h1>Sign Up!</h1>

      <%= form_tag "/users" do %>

        <%= text_field_tag :name_first, "", :placeholder => "First Name", :class => "form-control"%>
        <br>
        <%= text_field_tag :name_last, "", :placeholder => "Last Name", :class => "form-control" %>
        <br>
        <%= text_field_tag :email, "", :placeholder => "Email Address", :class => "form-control" %>
        <br>
        <%= password_field_tag :password, "", :placeholder => "Password", :class => "form-control" %>
        <br>
        <%= password_field_tag :password_confirmation, "", :placeholder => "Confirm Password", :class => "form-control" %>
        <br>        
        <%= select_tag :account_type, options_for_select([["Student","Student"],["Teacher","Teacher"]]), :class => "form-control" %>
        <br>
        <%= submit_tag "Beam Me Up!" %>

      <% end %>
    </div>
  </body>
</html>