<% content_for :head do %>
  <link rel="stylesheet" href="http://getbootstrap.com/examples/navbar/navbar.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<% end %>

<div class="container">

  <!-- Static navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href= <%= "/users/#{@user.id}" %>>Classy</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href = <%= "/users/#{@user.id}" %>><%= "#{@user.name_first} #{@user.name_last}" %></a></li>
          <li><a href = <%= "/courses/#{@lesson.course.id}" %>><%= "#{@lesson.course.course_name}" %></a></li>
          <li class = "active"><a href = <%= "/lessons/#{@lesson.id}" %>><%= "#{@lesson.title}" %></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign Out", session_path(session[:user_id]), method: :delete%></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </div>

  <div class = "panel panel-default panel-body">
      <h2><%= @lesson.course.course_name %><br><%= @lesson.title %></h2>
  </div>
  <div>
    <iframe width = 1100 height = 600 class = "sample_vid center-block" src = <%= @lesson.materials.where(:material_type => "class_video").first.link %> frameborder="0"></iframe>
    <br>
      <%= form_tag("/comments?lesson_id=#{@lesson.id}", :method => :create)  do %>
        <%= text_field_tag :content, "", placeholder: "Write a comment", :class => "form-control" %>
        <br>
        <%= submit_tag "Submit!", :class => "btn btn-primary btn-block"%>
      <% end %>
    <ul>
      <% @comments.each do |comment| %>
        <li>
          <h5>
            <strong><%= "#{comment.user.name_first} #{comment.user.name_last}"%></strong> said at <%= comment.created_at.strftime("%c") %>
          </h5>
          <%= comment.content %>
        </li>
      <% end %>
    </ul>
  </div>
</div>